body{
    background-color: darkslateblue;
}
h1{
    font-family: 'Times New Roman';
    color: azure;
    font-size: x-large;
    color: rgb(217, 95, 136);
    background-color: azure;
}
img{
    margin-right:100px;
}
.tom{
    color:white;
}
.jerry{
    color: rgb(201, 76, 118);

}
